<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div id="user-data">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div *ngIf="
          userForm.controls.email.errors && userForm.controls.email.touched
        ">
        <span class="error" *ngIf="userForm.controls.email.errors.required">
          Email is required
        </span>
        <span class="error" *ngIf="userForm.controls.email.errors.pattern">
          Enter a valid email
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <div *ngIf="
          userForm.controls.password.errors &&
          userForm.controls.password.touched
        ">
        <span class="error" *ngIf="userForm.controls.password.errors.required">
          Password is required
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" formControlName="status">
        <option value="active">active</option>
        <option value="inactive">inactive</option>
      </select>
    </div>
    <div formArrayName="departments">
      <h3>Add Departments</h3>
      <button type="button" (click)="onAddDepartment()">Add Department</button>
      <div class="form-group" *ngFor="
          let department of userForm.get('departments')?.value;
          let i = index
        ">
        <input type="text" [formControlName]="i" />
      </div>
    </div>
    <button type="submit">Register</button>
  </form>
</div>